@tailwind base;
  @tailwind components;
  @tailwind utilities;



  @layer base {
    :root {
      --blogtext:9, 15, 17;
      --header: 9, 15, 17;
      --headerHex: #090f11;
      --subText: 88, 88, 88;
      --grayBg: 242, 246, 246;
      --grayBgHex: #f2f6f6;
      --bg: 255, 255, 255;
      --bgHex: #fff ;
      --transparentSurface: 255, 255, 255;
      --buttons: 0, 175, 255;
      --buttonsText: 255, 255, 255;
      --surface2:255, 255, 254;
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --borderHex: #e4e4e7;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --blogtext:186, 186, 191;
      --header: 239, 239, 239;
      --headerHex: #efefef;
      --subText: 217, 217, 217;
      --grayBg: 0, 17, 26;
      --grayBgHex: #00111a;
      --bg: 9, 15, 17;
      --bgHex: #090f11 ;
      --transparentSurface: 9, 15, 17;
      --buttons: 0, 175, 255;
      --buttonsText: 9, 15, 17;
      --surface2:14, 24, 28;
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --borderHex: #27272a;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


.custom-marker {
  min-width: 60px;
  width: max-content;
  height: 40px;

  .container{
    z-index: 1;
    border-radius: 8px;
    text-align: center;
    background: var(--grayBgHex);
    width: max-content;
    padding: 8px 16px;
    height: 33px;

    .marker-label{
      color: var(--headerHex);
      text-align: center;
      width: max-content;
      font-size: 17px;
      font-weight: 600;
    }
    .marker-description{
      display: none;
    }
    .add-item-button{
      display: none;
    }
    .remove-item-button{
      display: none;
    }
    .action_area{
    .add-button{
      display: none;
    }
    }
    .image_for_container{
      display: none;
    }
  }
  .triangle{

    margin: -1px auto 0;
    width: 30px;
    height: 10px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: var(--grayBgHex);
  }
}


.custom-marker:hover{
  .container{
    border-top: 1px solid var(--borderHex);
    border-left: 1px solid var(--borderHex);
    border-right: 1px solid var(--borderHex);
  }



}



.custom-marker .add-button,
.custom-marker .remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.highlightedMapView{
  .container{
    border: 1px solid var(--borderHex);
    z-index: 10 !important;
    width: 340px;
    height: 350px;

    .marker-label{
      margin: 0 auto;

      text-align: center;
      width: max-content;
      font-size: 17px;
      font-weight: 600;
    }
    .marker-description{
      display: block;
      font-size: 14px;
    }
    .add-item-button{
      display: block;
    }
    .remove_area{
      display: block;
    }

    .action_area{
      display: flex;
      justify-content: space-between;
      margin: 10px 0 0;
      align-items: center;
      .add-button{
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        background-color: #00Afff;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 99px;
      }
      .remove-button{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        background-color: #00Afff;
        width: 32px;
        height: 32px;
        border-radius: 99px;
      }
    }

    .image_for_container{
      border-radius: 4px;
      display: block;
      margin: 10px 0;
      width: calc(100% );
      height: 140px;
    }
  }
  .triangle{
    display: none;

  }
}

.selected-marker {
  .triangle {
    background-color: #00Afff !important;
  }

  .container {
    .marker-label{
      color: var(--grayBgHex);
    }
    .marker-description{
      color: var(--grayBgHex);
    }
    background-color: #00Afff !important;
  }
  .action_area{


  }
}

.direction-point{
  .container{
    background: #585858 !important;

    .marker-label{
      color: #e4e4e7;
    }
    .marker-description{
      color: #e4e4e7;
    }
  }
  .triangle{
    background: #585858 !important;

  }
}

.remove-button{

}

.selected-marker.highlightedMapView{
  .add-button{
    display: none !important;
    background-color: var(--grayBgHex) !important;
  }
  .remove-button{
    display: block;
    background-color: var(--grayBgHex) !important;
  }
}

.min_60{
  display: none;
}
.min_30{
  display: none;
}
.min_90{
  display: none;
}
.min_120{
  display: none;
}
.min_150{
  display: none;
}
.min_180{
  display: none;
}
.min_210{
  display: none;
}
.min_240{
  display: none;
}

.remove-item-button{
  display: none;
  width: 90px;
  height: 36px;
  line-height: 36px;
  border-radius: 8px;
  padding: 0 12px;
  background: var(--grayBgHex);
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  bottom: -295px;
  left: calc(340px/2 - 45px);
}

.visible_block{
  display: block !important;
}

.visible{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button_area_transparent{
  width: 32px;
  height: 32px;
  background: transparent;
}

.add-item-button{
  width: 90px;
  height: 36px;
  line-height: 36px;
  border-radius: 8px;
  padding: 0 12px;
  background: #00Afff;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  bottom: -295px;
  left: calc(340px/2 - 42.5px);
}

.visit-time-container{
  width: 306px;
  text-align: center;
  color: var(--grayBgHex);
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  display: none;
  bottom: -250px;
}
.remove_area{
  display: none;
}

